@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.owcredits {
    width: 100%;
    text-align: right;
}

hr.thickhr {
    height: 3px;
    background-color: orange;
    border: none;
}

.currentConditions {
    font-family: 'Open Sans';
    font-size: 1.5em;
}


.messageError {
    border: 1px solid;
    margin: 10px 0px 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/Icons/Sigma/Help_32x32_Standard.png');
}

.divcentered {
    max-width: fit-content;
    margin-inline: auto;
}

